html{
    min-width: 1080px;
    min-height: 100%;
    width: 1280px;
    margin: 0 auto;
    font-family: "微软雅黑";
    background-color: #DCDCDC;
}

body{
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
}

.mainContent{
    padding: 1em 3em;
    padding-bottom: 10em;
    background-color: white;
    height: 100%;
}

.topMenu{
    background-color: #DCDCDC;
    background-image: url("img/1.png");
    color: #111111;
    padding: 0.5em 3em;
}


.pure-menu-link{
    color: black;
    text-shadow:4px 4px 10px grey;
}

.topLink{
    color: white;!important;
    text-shadow:4px 4px 10px black;!important;
}

.greenButton {
    color: white;
    background: rgb(28, 184, 65);
}

.redButton{
    color: white;
    background: rgb(202, 60, 60);
}

.setSpread{
    margin: 2em 0.2em;
}
